@import "tailwindcss";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */


@theme {
    --color-color-1: #AC6AFF;
    --color-color-2: #FFC876;
    --color-color-3: #FF776F;
    --color-color-4: #7ADB78;
    --color-color-5: #858DFF;
    --color-color-6: #FF98E2;
    --color-stroke-1: #26242C;
    --color-n-1: #FFFFFF;
    --color-n-2: #CAC6DD;
    --color-n-3: #ADA8C3;
    --color-n-4: #757185;
    --color-n-5: #3F3A52;
    --color-n-6: #252134;
    --color-n-7: #15131D;
    --color-n-8: #0E0C15;
    --color-n-9: #474060;
    --color-n-10: #43435C;
    --color-n-11: #1B1B2E;
    --color-n-12: #2E2A41;
    --color-n-13: #6C7275;
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    --tracking-tagline: ".15em";
    --spacing-0.25: "0.0625rem";
    --spacing-7.5: "1.875rem";
    --spacing-15: "3.75rem";

}

:root{
    color-scheme: dark;
}